body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: auto 0px;
}

@media (min-width: 576px) {
  h1{
    font-size: 5em;
    color: white;
    text-shadow: 5px 2px 10px #000;
    text-align: center;
    position: relative;
    top: 200px;
    margin: 0px auto;
  }
}

@media (max-width: 576px) {
  h1{
    font-size: 3em;
    color: white;
    text-shadow: 5px 2px 10px #000;
    text-align: center;
    position: relative;
    top: -150px;
    margin: 0px auto;
  }
}

@media (max-width: 374px) {
  h1{
    font-size: 3em;
    color: white;
    text-shadow: 5px 2px 10px #000;
    text-align: center;
    position: relative;
    top: -130px;
    margin: 0px auto;
  }
}

/*h1{
  background: url("MateoEventosP.png") no-repeat;
  width: 830px;
  height: 100px;
  position: relative;
  top: 190px;
  margin: 0px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/

.title1{
  font-family: 'Rouge Script', cursive;
  font-size: 2.5em;
  color: #92b20a;
  text-align: center;
  text-transform: capitalize;
}

.title2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -35px;
}

.title3{
  font-family: 'Rouge Script', cursive;
  font-size: 2.5em;
  color: #92b20a;
  text-align: center;
  padding-bottom: 10px;
}

.navbar{
  margin: 0px;
}

.navbar-default .navbar-nav li a:hover{
  color: #92b20a;
}

.navbar-brand{
  margin: 0px;
  padding: 1px 0px;
}

.navbar-brand img{
  height: 48px;
}

@media (min-width: 576px) {
  .portadaqs{
      background: url("portadaqs.jpg") no-repeat;
      height: 500px;
      background-position: 0px -300px;
      background-attachment: fixed;
      background-size: cover;
  }
  .portadant{
      background: url("portadant.jpg") no-repeat;
      height: 500px;
      background-position: 0px -100px;
      background-attachment: fixed;
      background-size: cover;
  }
  .portadanc{
      background: url("portadanc.jpg") no-repeat;
      height: 500px;
      background-position: 0px -100px;
      background-attachment: fixed;
      background-size: cover;
  }
  .portadac{
      background: url("portadac.jpg") no-repeat;
      height: 500px;
      background-position: 0px 0px;
      background-attachment: fixed;
      background-size: cover;
  }
}

@media (min-width: 576px) {
  .portada img{
    display: none!important;
  }
  .portadaqs img{
    display: none!important;
  }
  .portadant img{
    display: none!important;
  }
  .portadanc img{
    display: none!important;
  }
  .portadac img{
    display: none!important;
  }
}

@media (min-width: 576px) {
  .container-fluid{
    padding: 0px 75px;
  }
}

@media (min-width: 576px) {
  .thumbnail{
    height: 770px;
  }
}

@media (min-width: 1000px) {
  .thumbnail{
    height: 640px;
  }
}

h2{
  text-transform: uppercase;
}

.qst{
  margin: 100px 0px 0px 0px;
}

.qsb{
  margin: 50px 0px 50px 0px;
}

.nct{
  margin: 65px 0px 0px 0px;
}

.ncb{
  margin: 50px 0px 50px 0px;
}

.page-header{
  margin-top: 30px;
  border-bottom: 1px solid #92b20a;
}

a.thumbnail:hover {
    border-color: #333;
}

a:focus,
a:hover {
  color: #92b20a;
  text-decoration: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail img{
  height: 250px;
}

.logo img{
  height: 80px;
  padding: 0px 5px 10px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  background-color: #e7e7e7;
  font-size: 12px;
  padding: 10px 50px 0px 50px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  border-top: transparent 1px solid;
  margin: 0px auto;
}

footer p{
  padding: 10px 10px;
}

footer a{
  color: black;
}

footer a:hover{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

footer a:visited{
  color: black;
}

.icono a{
  padding: 5px;
}
